BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
PointerAlignment: Right
InsertBraces: true
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 100
IndentCaseLabels: true
IndentGotoLabels: false
AlignConsecutiveMacros: true
AlignConsecutiveBitFields: true
Cpp11BracedListStyle: false
ForEachMacros: ['list_for_every_entry','list_for_every_entry_safe']
