*.dSYM
*.orig
*.swp
*~
.cache
.clangd
.vscode
blk*.bin
.mypy_cache
build-*
compile_commands.json
cscope.*
doit*
local.mk
scripts/toolpaths.local
t
tagit
TAGS
tags
toolchain
.cache
vmlinux

buildall.log
trace.txt
.rsync-filter
