*.dSYM
*.orig
*.swp
*~
.cache
.cache
.clangd
.mypy_cache
.rsync-filter
.vscode
TAGS
blk*.bin*
build-*
buildall.log
compile_commands.json
cscope.*
doit*
local.mk
scripts/toolpaths.local
t
tagit
tags
toolchain
trace.txt
vmlinux

# place to put local stuff that isn't picked up by git
local
